
# Godot-specific ignores
.import/
src/ui/main_menu/settings/settings.cfg
export.cfg
export_presets.cfg

# Mono-specific ignores
.mono/

src/ui/main_menu/settings.cfg

dist/

assets/audio/music/

assets/audio/
